<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yckj.school.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.yckj.school.domain.Answer" >
    <id column="ans_id" property="ansId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ques_id" property="quesId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="statue" property="statue" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ans_id, content, ques_id, user_id, create_time, statue
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yckj.school.domain.AnswerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from answer
    where ans_id = #{ansId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from answer
    where ans_id = #{ansId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yckj.school.domain.AnswerExample" >
    delete from answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yckj.school.domain.Answer" >
    insert into answer (ans_id, content, ques_id, 
      user_id, create_time, statue
      )
    values (#{ansId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{quesId,jdbcType=BIGINT}, 
      #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{statue,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yckj.school.domain.Answer" >
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ansId != null" >
        ans_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="quesId != null" >
        ques_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="statue != null" >
        statue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ansId != null" >
        #{ansId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="quesId != null" >
        #{quesId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update answer
    <set >
      <if test="record.ansId != null" >
        ans_id = #{record.ansId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.quesId != null" >
        ques_id = #{record.quesId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statue != null" >
        statue = #{record.statue,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update answer
    set ans_id = #{record.ansId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      ques_id = #{record.quesId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      statue = #{record.statue,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yckj.school.domain.Answer" >
    update answer
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="quesId != null" >
        ques_id = #{quesId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=CHAR},
      </if>
    </set>
    where ans_id = #{ansId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yckj.school.domain.Answer" >
    update answer
    set content = #{content,jdbcType=VARCHAR},
      ques_id = #{quesId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      statue = #{statue,jdbcType=CHAR}
    where ans_id = #{ansId,jdbcType=BIGINT}
  </update>
  
  <!-- 查询总记录数 -->
  <select id="selectTotalCount" resultType="java.lang.Integer" parameterType="map">
    select count(*)
    from answer
    <where>
      <if test="ansId != null and ansId != ''">
        and ans_id = #{ansId,jdbcType=BIGINT}
      </if>
      <if test="quesId != null and quesId != ''">
        and ques_id = #{quesId,jdbcType=BIGINT}
      </if>
      <if test="userId != null and userId != ''">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="statue != null and statue != ''">
        and statue = #{statue,jdbcType=CHAR}
      </if>
    </where>
  </select>
  <!-- 分页查询 -->
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from answer
    <where>
      <if test="ansId != null and ansId != ''">
        and ans_id = #{ansId,jdbcType=BIGINT}
      </if>
      <if test="quesId != null and quesId != ''">
        and ques_id = #{quesId,jdbcType=BIGINT}
      </if>
      <if test="userId != null and userId != ''">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="statue != null and statue != ''">
        and statue = #{statue,jdbcType=CHAR}
      </if>
    </where>
    <if test="orderByColumn != null and orderByColumn != ''">
      order by ${orderByColumn}
      <if test="orderType != null and orderType != ''">
        ${orderType}
      </if>
    </if>
    limit
    #{start,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
  </select>
</mapper>